<h2>

<mat-icon name="arrow-back" (click)="goBack()" *ngIf="routes.length > 1">keyboard-arrow-left
</mat-icon> {{ getCurrentLocation() }}

</h2>


<mat-list>

   <h3 matSubheader>Carpetas</h3>

   <ng-container *ngFor="let item of fileList">

      <ng-container *ngIf="item.type === 'directory'">

   	   <mat-nav-list>

   		   <a (click)="onClick(item)" mat-list-item href="# ">
   		      <mat-icon matListIcon>folder</mat-icon>
   		      <h4 matLine>{{item.basename}}</h4>
   		      <p matLine class="demo-2"> {{item.lastmod | date:'medium'}} </p>
   		   </a>

   	   </mat-nav-list>

      </ng-container>

   </ng-container>

      <h3 matSubheader>Archivos</h3>


      <ng-container *ngFor="let item of fileList">

      <ng-container *ngIf="item.type !== 'directory'">

         <mat-nav-list>

            <a (click)="onClick(item)" mat-list-item href="# ">
               <mat-icon matListIcon>note</mat-icon>
               <h4 matLine>{{item.basename}}</h4>
               <p matLine class="demo-2"> {{item.lastmod | date:'medium'}} </p>
            </a>

         </mat-nav-list>

      </ng-container>

   </ng-container>

   <mat-divider></mat-divider>
   <!--
   <h3 matSubheader>Notes</h3>
   <mat-list-item *ngFor="let note of notes">
      <mat-icon matListIcon>note</mat-icon>
      <h4 matLine>{{note.name}}</h4>
      <p matLine class="demo-2"> {{note.updated}} </p>
   </mat-list-item>
   -->
</mat-list>



<button mat-button (click)="createDirectory()">Crear carpeta</button>